.output{
    background-color: rgb(242,254,251);
    border-radius: 20px;
    padding: 20px;
    font-size: larger;
    width: 80%;
}

.chatbot{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatbotWrapper{
    margin-top: 100px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suggestions{
    display: flex;
    gap: 10px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}