.card4 {
    width: 100%;
    background: white;
    padding: 10px;
    /* border-radius: 20px; */
    /* height: 100%; */
  }

  .cardImg{
    max-width: 100%;
  }
  
  .card-image {
    object-fit: cover;
    /* width: 100%; */
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }