.proContainer{
    margin-top: 100px;
    width: 100%;
}

.proWrapper{
    width: 95%;
}

.cardsDiv{
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
    margin-right: 0px;
    /* justify-content: space-around;  */
}

.cardsDiv1{
    display: flex;
}