@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Roboto&family=Titillium+Web:wght@200&display=swap');

.home{
    width: 100%;  
    padding: 10px;
    opacity: 1;
    margin-top: 80px;
}

.homeimg{
    border-radius: 20px;
    max-width: 100%;
}
.homeSection1{
    display: flex;
    /* background-color: rgb(242,254,251); */
    background-image: url("../../images/homepg.avif");
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgDiv{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6.5;
}

.homeTitle{
    font-size: 50px;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.homeText{
    padding: 20px;
    flex: 5.5;
    margin-left: 50px;
}

.explore{
    background-color: rgb(126,181,60);
    border: 0px;
    padding: 20px;
    font-size: larger;
    color: white;
    border-radius: 15px;
}

.cdWrapper2{
    display: flex;
    gap: 30px;
    width: 70%;
}
.cdWrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}