.rightbar{
    flex: 3;
    padding: 10px;
    overflow-y: auto;
    margin-right: 40px;
}

.rightbarImg{
    border-radius: 20px;
    height: 40vh;
    width: 100%;
}

.card2{
    width: 100%;
}