.pg2{
    width: 100%;
}
.pg2Wrapper{
    display: flex;
}
.cardsDiv{
    display: flex;
    flex: 6;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
    margin-right: 0px;
    /* justify-content: space-around;  */
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background-color: rgb(189, 188, 188);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(115, 115, 115);
}
