@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

nav {
    background-color: rgb(242,254,251);
    letter-spacing: 1px;
    font-family: Poppins;
    color: rgba(50,126,94,255);
}
.navbar{
    background-color: rgb(191, 251, 236);
}
a{
    text-decoration: none;
    color: rgba(50,126,94,255);
}
li{
        list-style: none;
        padding: 0px 14px;
        margin-right: 30px;
        font-size: 115%;
        font-weight: 400;
        display: inline-block;
        /* border-radius: 2px; */
        /* background-color: #deeed9; */
        border-radius: 1rem;
}
ul{
    list-style: none;
    margin-left: 2rem;
}
.navbar {

    letter-spacing: 1px;
    font-family: Poppins, serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
}

input,
button {
    font: inherit;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.navbar-logo{
    display: block;
    margin-left: 12rem;
    margin-top: .4rem;

}
.navbar-logo >img{
    width: 7rem;
    height: 4rem;
    padding: .2rem;
    border-radius: 20rem;
    border: .1rem solid rgba(50,126,94,255);
}
.remix{
    margin-left: 80px;
    font-size: 1.5rem;
}
.remix>i{
    margin-right: 20px;
}